<button mat-raised-button type="button" (click)="openModal(login)">Kirjaudu / Rekisteröidy</button>

<ng-template #login>
    <div class="modal-header">
        <button type="button" [class.current]="login" (click)="swapLogin()">Kirjaudu</button>
        <button type="button" [class.current]="login" (click)="swapRegister()">Rekisteröidy</button>
    </div>
    <div class="modal-body">
        <div class="login">
            <form action="">
                <label for="">Nimi</label>
                <input type="text">
            </form>
        </div>
        <div class="register">
            <form action="">
                <label for="">Nimi</label>
                <input type="text">
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" (click)="closeModal()"></button>
    </div>
</ng-template>