.navbar {
    padding: 0 15px;
}

.nav-link {
    cursor: pointer;
}

::ng-deep map-info-window {
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-list-item-content {
    justify-content: space-between;
}

button.delete {
    float: right;
    min-width: 75.5px;
}

.dibs-title {
    max-width: 40%;
}

.owner-tg {
    max-width: 40%;
}

.stat {
    width: 50%;
}

.modal-header {
    flex-direction: column;
}