<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">LOGO</a>
    <button mat-button class="navbar-toggler collapsed" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" (click)="openModal(dibsModal, 'dibs')">My Dibses</a>
            <a class="nav-item nav-link" (click)="openModal(offerModal, 'offer')">My Offers</a>
            <a class="nav-item nav-link" href="#">Profile</a>
            <app-login *ngIf="mobile" [username]="username"></app-login>
        </div>
    </div>
    <app-login *ngIf="!mobile" [username]="username"></app-login>
</nav>

<ng-template #offerModal>
    <div class="modal-header">My offers</div>
    <div class="modal-body">
        <mat-list>
            <mat-list-item *ngIf="offers.length === 0">No offers so far</mat-list-item>
            <mat-list-item color="accent" *ngFor="let offer of offers; last as isLast">
                <span class="title">{{offer.title}}</span>
                <button mat-raised-button color="warn" class="delete" (click)="deleteOffer(offer.id)">Delete</button>
                <mat-divider *ngIf="!isLast"></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #dibsModal>
    <div class="modal-header">My dibses</div>
    <div class="modal-body">
        <mat-list>
            <mat-list-item *ngIf="dibses.length === 0">No dibses so far</mat-list-item>
            <mat-list-item color="accent" *ngFor="let dibs of dibses; last as isLast">
                <span class="title">{{dibs.title}}</span>
                <button mat-raised-button color="warn" class="delete" (click)="undibs(dibs.id)">Undibs</button>
                <mat-divider *ngIf="!isLast"></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" (click)="closeModal()">Close</button>
    </div>
</ng-template>
