<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SoFo</a>
    <button mat-button class="navbar-toggler collapsed" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" (click)="openModal(dibsModal, 'dibs')">My Dibses</a>
            <a class="nav-item nav-link" (click)="openModal(offerModal, 'offer')">My Offers</a>
            <a class="nav-item nav-link" (click)="openModal(profileModal, 'profile')">Profile</a>
            <app-login *ngIf="mobile" [username]="username"></app-login>
        </div>
    </div>
    <app-login *ngIf="!mobile" [username]="username"></app-login>
</nav>

<ng-template #offerModal>
    <div class="modal-header">My offers</div>
    <div class="modal-body">
        <mat-list>
            <mat-list-item *ngIf="offers.length === 0">No offers so far</mat-list-item>
            <mat-list-item color="accent" *ngFor="let offer of offers; last as isLast">
                <span class="offer-title">{{offer.title}}</span>
                <span *ngIf="offer.dibsedby" class="owner-tg">Dibsed by (TG): {{offer.dibsedby.telegram}}</span>
                <button mat-raised-button color="warn" class="delete" (click)="deleteOffer(offer.id)">Delete</button>
                <mat-divider *ngIf="!isLast"></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #dibsModal>
    <div class="modal-header">My dibses</div>
    <div class="modal-body">
        <mat-list>
            <mat-list-item *ngIf="dibses.length === 0">No dibses so far</mat-list-item>
            <mat-list-item color="accent" *ngFor="let dibs of dibses; last as isLast">
                <span class="dibs-title">{{dibs.title}}</span>
                <span class="owner-tg">TG: {{dibs.owner.telegram}}</span>
                <button mat-raised-button color="warn" class="delete" (click)="undibs(dibs.id)">Undibs</button>
                <mat-divider *ngIf="!isLast"></mat-divider>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" (click)="closeModal()">Close</button>
    </div>
</ng-template>

<ng-template #profileModal>
    <div *ngFor="let prof of profile" class="modal-header">
        <h2>Profile Info</h2>
        <div class="profile-info">
            <p><strong>Name: </strong>{{prof.name}}</p>
            <p><strong>Email: </strong>{{prof.email}}</p>
            <p><strong>TG: </strong>{{prof.telegram}}</p>
        </div>
    </div>
    <div class="modal-body">
        <div class="stats row">
            <h2 class="col-12">My Impact</h2>
            <div class="stat col-6">
                <mat-icon>shopping_cart</mat-icon>
                <p>Food dibsed: 2</p>
            </div>
            <div class="stat col-6">
                <mat-icon>attach_money</mat-icon>
                <p>Money saved: 5€</p>

            </div>
            <div class="stat col-6">
                <mat-icon>timer</mat-icon>
                <p>Time spared: 1h</p>

            </div>
            <div class="stat col-6">
                <mat-icon>cloud</mat-icon>
                <p>CO2 saved: 4.5kg</p>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" type="button" (click)="closeModal()">Close</button>
    </div>
</ng-template>