<div class="container-fluid" id="wrapper">
    <app-menu style="width: 100%;" [username]="username"></app-menu>
    <div class="wrapper">
        <h1>Social Food</h1>
        <p>Explanation here</p>
        <div>
            <div class="map-header">
                <p>Google maps here</p>
                <button mat-raised-button (click)="emitRefresh()"><mat-icon>refresh</mat-icon></button>
            </div>
            <app-map [refreshEvent]="refreshSubject.asObservable()"></app-map>
        </div>
    </div>
</div>
