form {
    display: flex;
    flex-direction: column;
}

.btn {
    width: 33%;
    min-width: 100px;
    margin-top: 15px;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;
}

.dibs {
    width: 50%;
}

.description {
    text-align: center;
}

.tg {
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
}