<google-map [center]="center" [zoom]="zoom" [options]="options" [height]="height" [width]="width" (mapClick)="addMarker($event)">
    <map-marker #markerElem *ngFor="let marker of markers" 
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfo(markerElem, marker.info)">
    </map-marker>
    <map-info-window (closeClick)="infoClosed()">
        <h2>{{infoContent}}</h2>
        <button mat-raised-button color="primary" *ngIf="!dibsed" (click)="dibs()">Dibs</button>
    </map-info-window>
</google-map>